#Anomalies in pin assignment
# Each CHIP has shared WE#/NAND_CLK (probably a bad choice but too late)
# For CE#, [0, 2, 4, 6..] on the schematic correponds to Bus_N_0
# CE#, [1, 3, 5, 7..] on the schematic correponds to Bus_N_1


#Clock in and reset
NET "CLK_sysClkP" LOC = E5;
NET "CLK_sysClkP" IOSTANDARD = LVDS_25;
NET "CLK_sysClkN" LOC = D5;
NET "CLK_sysClkN" IOSTANDARD = LVDS_25;
NET "RST_N_sysRstn" LOC = P14;
NET "RST_N_sysRstn" IOSTANDARD = LVCMOS18;

#Bus 0_shared. For now name them B0_0_*
NET "B0_0_WEN_NCLK[0]" LOC = E6;
NET "B0_0_WEN_NCLK[0]" IOSTANDARD = LVCMOS18;
NET "B0_0_WEN_NCLK[1]" LOC = H8;
NET "B0_0_WEN_NCLK[1]" IOSTANDARD = LVCMOS18;
NET "B0_0_WEN_NCLK[2]" LOC = H7;
NET "B0_0_WEN_NCLK[2]" IOSTANDARD = LVCMOS18;
NET "B0_0_WEN_NCLK[3]" LOC = F8;
NET "B0_0_WEN_NCLK[3]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG0[0]" LOC = K2;
NET "B0_0_DEBUG0[0]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG0[1]" LOC = L3;
NET "B0_0_DEBUG0[1]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG0[2]" LOC = J1;
NET "B0_0_DEBUG0[2]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG0[3]" LOC = K1;
NET "B0_0_DEBUG0[3]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG0[4]" LOC = M5;
NET "B0_0_DEBUG0[4]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG0[5]" LOC = M6;
NET "B0_0_DEBUG0[5]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG0[6]" LOC = N6;
NET "B0_0_DEBUG0[6]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG0[7]" LOC = N7;
NET "B0_0_DEBUG0[7]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG1[0]" LOC = K5;
NET "B0_0_DEBUG1[0]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG1[1]" LOC = L5;
NET "B0_0_DEBUG1[1]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG1[2]" LOC = L4;
NET "B0_0_DEBUG1[2]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG1[3]" LOC = M4;
NET "B0_0_DEBUG1[3]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG1[4]" LOC = L7;
NET "B0_0_DEBUG1[4]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG1[5]" LOC = M7;
NET "B0_0_DEBUG1[5]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG1[6]" LOC = J3;
NET "B0_0_DEBUG1[6]" IOSTANDARD = LVCMOS18;
NET "B0_0_DEBUG1[7]" LOC = K3;
NET "B0_0_DEBUG1[7]" IOSTANDARD = LVCMOS18;


#Bus 0_0
NET "B0_0_DQS" LOC =  B5;
NET "B0_0_DQS" IOSTANDARD = LVCMOS18;
NET "B0_0_DQ[7]" LOC = E3;
NET "B0_0_DQ[7]" IOSTANDARD = LVCMOS18;
NET "B0_0_DQ[6]" LOC = F3;
NET "B0_0_DQ[6]" IOSTANDARD = LVCMOS18;
NET "B0_0_DQ[5]" LOC = C3;
NET "B0_0_DQ[5]" IOSTANDARD = LVCMOS18;
NET "B0_0_DQ[4]" LOC = D3;
NET "B0_0_DQ[4]" IOSTANDARD = LVCMOS18;
NET "B0_0_DQ[3]" LOC = A4;
NET "B0_0_DQ[3]" IOSTANDARD = LVCMOS18;
NET "B0_0_DQ[2]" LOC = B4;
NET "B0_0_DQ[2]" IOSTANDARD = LVCMOS18;
NET "B0_0_DQ[1]" LOC = C4;
NET "B0_0_DQ[1]" IOSTANDARD = LVCMOS18;
NET "B0_0_DQ[0]" LOC = D4;
NET "B0_0_DQ[0]" IOSTANDARD = LVCMOS18;

NET "B0_0_CEN[7]" LOC = G6;
NET "B0_0_CEN[7]" IOSTANDARD = LVCMOS18;
NET "B0_0_CEN[6]" LOC = G9;
NET "B0_0_CEN[6]" IOSTANDARD = LVCMOS18;
NET "B0_0_CEN[5]" LOC = J5;
NET "B0_0_CEN[5]" IOSTANDARD = LVCMOS18;
NET "B0_0_CEN[4]" LOC = K8;
NET "B0_0_CEN[4]" IOSTANDARD = LVCMOS18;
NET "B0_0_CEN[3]" LOC = H4;
NET "B0_0_CEN[3]" IOSTANDARD = LVCMOS18;
NET "B0_0_CEN[2]" LOC = K6;
NET "B0_0_CEN[2]" IOSTANDARD = LVCMOS18;
NET "B0_0_CEN[1]" LOC = F4;
NET "B0_0_CEN[1]" IOSTANDARD = LVCMOS18;
NET "B0_0_CEN[0]" LOC = F5;
NET "B0_0_CEN[0]" IOSTANDARD = LVCMOS18;

NET "B0_0_WPN" LOC = M1;
NET "B0_0_WPN" IOSTANDARD = LVCMOS18;
NET "B0_0_ALE" LOC = H2;
NET "B0_0_ALE" IOSTANDARD = LVCMOS18;
NET "B0_0_CLE" LOC = M2;
NET "B0_0_CLE" IOSTANDARD = LVCMOS18;
NET "B0_0_WRN" LOC = N3;
NET "B0_0_WRN" IOSTANDARD = LVCMOS18;

#Bus 0_1
#NET "B0_1_DQS" LOC =  C1;
#NET "B0_1_DQS" IOSTANDARD = LVCMOS18;
#NET "B0_1_DQ[7]" LOC = G2;
#NET "B0_1_DQ[7]" IOSTANDARD = LVCMOS18;
#NET "B0_1_DQ[6]" LOC = D1;
#NET "B0_1_DQ[6]" IOSTANDARD = LVCMOS18;
#NET "B0_1_DQ[5]" LOC = E1;
#NET "B0_1_DQ[5]" IOSTANDARD = LVCMOS18;
#NET "B0_1_DQ[4]" LOC = E2;
#NET "B0_1_DQ[4]" IOSTANDARD = LVCMOS18;
#NET "B0_1_DQ[3]" LOC = F2;
#NET "B0_1_DQ[3]" IOSTANDARD = LVCMOS18;
#NET "B0_1_DQ[2]" LOC = A2;
#NET "B0_1_DQ[2]" IOSTANDARD = LVCMOS18;
#NET "B0_1_DQ[1]" LOC = A3;
#NET "B0_1_DQ[1]" IOSTANDARD = LVCMOS18;
#NET "B0_1_DQ[0]" LOC = C2;
#NET "B0_1_DQ[0]" IOSTANDARD = LVCMOS18;
#
#NET "B0_1_CEN[7]" LOC = H6;
#NET "B0_1_CEN[7]" IOSTANDARD = LVCMOS18;
#NET "B0_1_CEN[6]" LOC = H9;
#NET "B0_1_CEN[6]" IOSTANDARD = LVCMOS18;
#NET "B0_1_CEN[5]" LOC = J6;
#NET "B0_1_CEN[5]" IOSTANDARD = LVCMOS18;
#NET "B0_1_CEN[4]" LOC = L8;
#NET "B0_1_CEN[4]" IOSTANDARD = LVCMOS18;
#NET "B0_1_CEN[3]" LOC = J4;
#NET "B0_1_CEN[3]" IOSTANDARD = LVCMOS18;
#NET "B0_1_CEN[2]" LOC = K7;
#NET "B0_1_CEN[2]" IOSTANDARD = LVCMOS18;
#NET "B0_1_CEN[1]" LOC = G4;
#NET "B0_1_CEN[1]" IOSTANDARD = LVCMOS18;
#NET "B0_1_CEN[0]" LOC = G5;
#NET "B0_1_CEN[0]" IOSTANDARD = LVCMOS18;
#
#NET "B0_1_WPN" LOC = N1;
#NET "B0_1_WPN" IOSTANDARD = LVCMOS18;
#NET "B0_1_ALE" LOC = H1;
#NET "B0_1_ALE" IOSTANDARD = LVCMOS18;
#NET "B0_1_CLE" LOC = L2;
#NET "B0_1_CLE" IOSTANDARD = LVCMOS18;
#NET "B0_1_WRN" LOC = N2;
#NET "B0_1_WRN" IOSTANDARD = LVCMOS18;

#Clock constraint
NET "CLK_sysClkP" TNM_NET = "CLK_sysClkP";
TIMESPEC "TS_CLK_sysClkP" = PERIOD "CLK_sysClkP" 10.000 ns HIGH 50% INPUT_JITTER 100.0ps;




















#
#
#NET "b1_dq[15]" LOC = AB6;
#NET "b1_dq[13]" LOC = Y8;
#NET "b1_dq[12]" LOC = AB5;
#NET "b1_dq[11]" LOC = AA5;
#
#NET "b1_cen[15]" LOC = W3;
#NET "b1_cen[14]" LOC = Y3;
#NET "b1_cen[13]" LOC = U7;
#NET "b1_cen[12]" LOC = V7;
#NET "b1_cen[11]" LOC = AB1;
#NET "b1_cen[10]" LOC = AC1;
#NET "b1_cen[9]" LOC = Y2;
#NET "b1_cen[8]" LOC = Y1;
#NET "b1_cen[7]" LOC = AD1;
#NET "b1_cen[6]" LOC = AE1;
#NET "b1_cen[5]" LOC = AE2;
#NET "b1_cen[4]" LOC = AF2;
#NET "b1_cen[3]" LOC = AB2;
#NET "b1_cen[2]" LOC = AC2;
#NET "b1_cen[1]" LOC = AA3;
#NET "b1_cen[0]" LOC = AA2;
#NET "b1_dq[10]" LOC = Y5;
#NET "b1_dq[9]" LOC = Y6;
#NET "b1_dq[7]" LOC = AD4;
#NET "b1_dq[6]" LOC = AC4;
#NET "b1_dq[5]" LOC = AF4;
#NET "b1_dq[4]" LOC = AF5;
#NET "b1_dq[3]" LOC = AF3;
#NET "b1_dq[2]" LOC = AE3;
#NET "b1_dq[1]" LOC = AD3;
#NET "b1_dq[14]" LOC = AA8;
#NET "b1_dqs[0]" LOC = AD5;
#NET "b1_dqs[1]" LOC = V8;
#NET "b2_dq[15]" LOC = D23;
#NET "b2_dq[14]" LOC = B24;
#NET "b2_dq[13]" LOC = C24;
#NET "b2_dq[12]" LOC = B26;
#NET "b2_dq[11]" LOC = C26;
#NET "b2_dq[10]" LOC = A25;
#NET "b2_dq[9]" LOC = B25;
#NET "b2_dq[8]" LOC = C22;
#NET "b2_dq[7]" LOC = D21;
#NET "b2_dq[6]" LOC = E21;
#NET "b2_dq[4]" LOC = B22;
#NET "b2_dq[3]" LOC = B21;
#NET "b2_dq[5]" LOC = A22;
#NET "b2_dq[2]" LOC = C21;
#NET "b2_dq[1]" LOC = D20;
#NET "b2_dq[0]" LOC = E20;
#NET "b2_dqs[1]" LOC = A23;
#NET "b2_dqs[0]" LOC = B20;
#
#NET "b1_dq[0]" LOC = AC3;
#NET "b1_dq[8]" LOC = Y7;
#
#NET "b2_cen[15]" LOC = G19;
#NET "b2_cen[14]" LOC = F20;
#NET "b2_cen[13]" LOC = H16;
#NET "b2_cen[12]" LOC = G16;
#NET "b2_cen[11]" LOC = C17;
#NET "b2_cen[10]" LOC = B17;
#NET "b2_cen[9]" LOC = E16;
#NET "b2_cen[8]" LOC = D16;
#NET "b2_cen[7]" LOC = A17;
#NET "b2_cen[6]" LOC = A18;
#NET "b2_cen[5]" LOC = B19;
#NET "b2_cen[4]" LOC = A19;
#NET "b2_cen[3]" LOC = E17;
#NET "b2_cen[2]" LOC = E18;
#NET "b2_cen[1]" LOC = D18;
#NET "b2_cen[0]" LOC = C18;
#NET "b2_rb[15]" LOC = K15;
#NET "b2_rb[14]" LOC = J16;
#NET "b2_rb[13]" LOC = J14;
#NET "b2_rb[12]" LOC = J15;
#NET "b2_rb[11]" LOC = K16;
#NET "b2_rb[10]" LOC = K17;
#NET "b2_rb[9]" LOC = M14;
#NET "b2_rb[8]" LOC = L14;
#NET "b2_rb[7]" LOC = M15;
#NET "b2_rb[6]" LOC = L15;
#NET "b2_rb[5]" LOC = M16;
#NET "b2_rb[4]" LOC = M17;
#NET "b2_rb[3]" LOC = J19;
#NET "b2_rb[2]" LOC = H19;
#NET "b2_rb[1]" LOC = L17;
#NET "b2_rb[0]" LOC = L18;
#
#NET "b3_dq[15]" LOC = V16;
#NET "b3_dq[14]" LOC = V14;
#NET "b3_dq[13]" LOC = U14;
#NET "b3_dq[12]" LOC = U16;
#NET "b3_dq[11]" LOC = U15;
#NET "b3_dq[10]" LOC = T15;
#NET "b3_dq[9]" LOC = T14;
#NET "b3_dq[8]" LOC = V18;
#NET "b3_dq[7]" LOC = W19;
#NET "b3_dq[6]" LOC = V19;
#NET "b3_dq[5]" LOC = U19;
#NET "b3_dq[4]" LOC = T19;
#NET "b3_dq[3]" LOC = Y20;
#NET "b3_dq[2]" LOC = W20;
#NET "b3_dq[1]" LOC = Y21;
#NET "b3_dq[0]" LOC = W21;
#NET "b3_dqs[1]" LOC = T17;
#NET "b3_dqs[0]" LOC = T20;
#
#NET "b3_cen[15]" LOC = Y25;
#NET "b3_cen[14]" LOC = AA25;
#NET "b3_cen[13]" LOC = V24;
#NET "b3_cen[12]" LOC = W24;
#NET "b3_cen[11]" LOC = AA24;
#NET "b3_cen[10]" LOC = AB25;
#NET "b3_cen[9]" LOC = AA22;
#NET "b3_cen[8]" LOC = AA23;
#NET "b3_cen[7]" LOC = AB24;
#NET "b3_cen[6]" LOC = AC24;
#NET "b3_cen[5]" LOC = V23;
#NET "b3_cen[4]" LOC = W23;
#NET "b3_cen[3]" LOC = Y22;
#NET "b3_cen[2]" LOC = Y23;
#NET "b3_cen[1]" LOC = U22;
#NET "b3_cen[0]" LOC = V22;
#NET "b3_rb[15]" LOC = AE25;
#NET "b3_rb[14]" LOC = AE26;
#NET "b3_rb[13]" LOC = AC22;
#NET "b3_rb[12]" LOC = AC23;
#NET "b3_rb[11]" LOC = AF24;
#NET "b3_rb[10]" LOC = AF25;
#NET "b3_rb[9]" LOC = AD25;
#NET "b3_rb[8]" LOC = AD26;
#NET "b3_rb[7]" LOC = AE23;
#NET "b3_rb[6]" LOC = AF23;
#NET "b3_rb[5]" LOC = AD23;
#NET "b3_rb[4]" LOC = AD24;
#NET "b3_rb[3]" LOC = AD21;
#NET "b3_rb[2]" LOC = AE21;
#NET "b3_rb[1]" LOC = AF19;
#NET "b3_rb[0]" LOC = AF20;
#
#
#
#NET "b1_rb[15]" LOC = R3;
#NET "b1_rb[14]" LOC = P3;
#NET "b1_rb[13]" LOC = P4;
#NET "b1_rb[12]" LOC = N4;
#NET "b1_rb[11]" LOC = R1;
#NET "b1_rb[10]" LOC = P1;
#NET "b1_rb[9]" LOC = T4;
#NET "b1_rb[8]" LOC = T3;
#NET "b1_rb[7]" LOC = T2;
#NET "b1_rb[6]" LOC = R2;
#NET "b1_rb[5]" LOC = U2;
#NET "b1_rb[4]" LOC = U1;
#NET "b1_rb[3]" LOC = P6;
#NET "b1_rb[2]" LOC = P5;
#NET "b1_rb[1]" LOC = T5;
#NET "b1_rb[0]" LOC = R5;
#
#NET "b1_sys_clk_n" LOC = AB4;
#NET "b1_sys_clk_p" LOC = AA4;
#
#
#NET "b3_sys_clk_n" LOC = V21;
#NET "b3_sys_clk_p" LOC = U21;
#NET "b2_sys_clk_n" LOC = C19;
#NET "b2_sys_clk_p" LOC = D19;
#
#NET "b1_nand_clk" LOC = V3;
#NET "b2_nand_clk" LOC = F18;
#NET "b3_nand_clk" LOC = AB26;
#
#NET "b1_wpn[1]" LOC = U6;
#NET "b1_wpn[0]" LOC = U5;
#NET "b2_wpn[1]" LOC = K20;
#NET "b2_wpn[0]" LOC = J20;
#NET "b3_wpn[1]" LOC = AE22;
#NET "b3_wpn[0]" LOC = AF22;

#
#
##NET "ox_a7_scl" LOC = L24;
##NET "ox_a7_sda" LOC = M24;
##NET "ox_a7_oe" LOC = M25;
##NET "ox_fmc_scl" LOC = N23;
##NET "ox_fmc_sda" LOC = P19;
##NET "ox_fmc_oe" LOC = N19;
#
## PlanAhead Generated physical constraints 
#
#
#NET "b1_nand_clk0" LOC = V1;
#NET "b1_nand_clk1" LOC = W5;
#NET "b1_nand_clk2" LOC = V3;
#NET "b1_nand_clk3" LOC = V6;
#
#NET "b1_ale[0]" LOC = R8;
#NET "b1_ale[1]" LOC = P8;
#NET "b1_cle[0]" LOC = R7;
#NET "b1_cle[1]" LOC = R6;
#NET "b1_wrn[0]" LOC = T8;
#NET "b1_wrn[1]" LOC = T7;
#NET "b3_nand_clk0" LOC = U25;
#NET "b3_nand_clk1" LOC = V26;
#NET "b3_nand_clk2" LOC = AB26;
#NET "b3_nand_clk3" LOC = W25;
#NET "b3_ale[0]" LOC = AD20;
#NET "b3_ale[1]" LOC = AE20;
#NET "b3_cle[0]" LOC = AB21;
#NET "b3_cle[1]" LOC = AC21;
#NET "b3_wrn[0]" LOC = AA20;
#NET "b3_wrn[1]" LOC = AB20;
#NET "ox_fmc_intr" LOC = N19;
#NET "b2_nand_clk0" LOC = H14;
#NET "b2_nand_clk1" LOC = G17;
#NET "b2_nand_clk2" LOC = F18;
#NET "b2_nand_clk3" LOC = G15;
#NET "b2_ale[0]" LOC = J18;
#NET "b2_ale[1]" LOC = H18;
#NET "b2_cle[0]" LOC = G20;
#NET "b2_cle[1]" LOC = G21;
#NET "b2_wrn[0]" LOC = K21;
#NET "b2_wrn[1]" LOC = J21;

# PlanAhead Generated IO constraints 
